<!--
File: Details.cshtml
Name: Andre Agrippa
Date: 12/04/2020
Purpose: Details page for appointment entry
-->
@model AnimalShelter_AndreAgrippa.Models.Appointment

@{
    ViewData["Title"] = "Details";
}

<h1 class="title-color">Details</h1>
<body class="bg-dark">
    <div>
        <h4 class="title-color">Appointment</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.date)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.date)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.animal)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.animal.animalID)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.owner)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.owner.ownerID)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.appointmentID">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</body>