<!--
File: Index.cshtml
Name: Andre Agrippa
Date: 12/04/2020
Purpose: Index page for animal entry
-->
@model IEnumerable<AnimalShelter_AndreAgrippa.Models.Animal>

@{
    ViewData["Title"] = "Animals -";
}

<h1 class ="title-color">Animals</h1>
<body class="bg-dark">
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-dark">
    <thead>
    <tr>
        <th>
            Animal Name
        </th>
        <th>
            Species
        </th>
        <th>
            Age
        </th>
        <th>
            Age
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.animalName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.species)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gender)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.animalID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.animalID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.animalID">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
</body>
